<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="md-apps"></ion-icon>
    </button>
    <ion-title>{{task.name}}</ion-title>
    <div>
      <button ion-button icon-only class="priority-1" (click)="changePriority('1')">
        <div *ngIf="task.taskStatusList[0].priority == '1';else else1">
          <ion-icon name="ios-checkmark" ></ion-icon>
        </div>
        <ng-template #else1>
          <ion-icon name="" ></ion-icon>
        </ng-template>
      </button>
      <button ion-button icon-only class="priority-2" (click)="changePriority('2')">
         <div *ngIf="task.taskStatusList[0].priority  == '2';else else2">
          <ion-icon name="ios-checkmark" ></ion-icon>
        </div>
        <ng-template #else2>
         <ion-icon name="" ></ion-icon>
        </ng-template>
      </button>
      <button ion-button icon-only class="priority-3" (click)="changePriority('3')">
        <div *ngIf="task.taskStatusList[0].priority  == '3';else else3">
          <ion-icon name="ios-checkmark" ></ion-icon>
        </div>
        <ng-template #else3>
          <ion-icon name="" ></ion-icon>
        </ng-template>
      </button>
      <button ion-button icon-only class="priority-4" (click)="changePriority('4')">
        <div *ngIf="task.taskStatusList[0].priority  == '4';else else4">
          <ion-icon name="ios-checkmark" ></ion-icon>
        </div>
        <ng-template #else4>
          <ion-icon name="" ></ion-icon>
        </ng-template>
      </button>
      <button ion-button icon-only class="priority-5" (click)="changePriority('5')">
        <div *ngIf="task.taskStatusList[0].priority  == '5';else else5">
          <ion-icon name="ios-checkmark" ></ion-icon>
        </div>
        <ng-template #else5>
          <ion-icon name="" ></ion-icon>
        </ng-template>
      </button>
      <button ion-button icon-only class="priority-6" (click)="changePriority('6')">
        <div *ngIf="task.taskStatusList[0].priority  == '6';else else6">
          <ion-icon name="ios-checkmark" ></ion-icon>
        </div>
        <ng-template #else6>
          <ion-icon name="" ></ion-icon>
        </ng-template>
      </button>
    </div>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row warp>
      <div *ngFor="let owner of task.taskOwnerList">

        <ion-col>
          <ion-label>
            <div *ngIf="this.companyUsers.get(owner.uid) != null &&
                this.companyUsers.get(owner.uid).employeesInfo.image != null;else elseblock">
              <img [attr.src]="this.companyUsers.get(owner.uid).employeesInfo.image" style="width: 40px; height: 40px;">
            </div>
            <ng-template #elseblock>
              <div class="short_name">{{this.loginProvider.getShortName(this.companyUsers.get(owner.uid).employeesInfo.lastName)}}</div>
            </ng-template>
            {{this.companyUsers.get(owner.uid).employeesInfo.lastName}}
          </ion-label>
        </ion-col>

      </div>
    </ion-row>
    <ion-row>
      <ion-col><button ion-button title="Add owner" (click)="selectUsers(task)"><ion-icon name="md-person-add"></ion-icon></button></ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-label>Task status</ion-label>
        <ion-select [(ngModel)]="task.taskStatusList[0].status">
          <ion-option value="Not Action">
            Not Action
          </ion-option>
          <ion-option value="Progressing">
            Progressing
          </ion-option>
          <ion-option value="Done">
            Done
          </ion-option>
        </ion-select>
      </ion-col>
    </ion-row>
    <ion-row warp>
      <ion-col>
        <ion-label>Start date</ion-label>
        <ion-datetime displayFormat="MM/DD/YYYY" [(ngModel)]="task.taskStatusList[0].startDate"></ion-datetime>
      </ion-col>

      <ion-col>
        <ion-label>Due date</ion-label>
        <ion-datetime displayFormat="MM/DD/YYYY" [(ngModel)]="task.taskStatusList[0].dueDate"></ion-datetime>
      </ion-col>
      <ion-col>
        <ion-label>Alert date</ion-label>
        <ion-datetime displayFormat="MM/DD/YYYY" [(ngModel)]="task.taskStatusList[0].alertDate"></ion-datetime>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-label>Sub Task</ion-label>
    </ion-row>
    <ion-row *ngFor="let subtask of task.subTaskList" style="border:solid 1px black">
      <ion-col  col-1 class="priority-{{subtask.taskStatusList[0].priority}}">
        <button ion-button icon-only (click)="selectTaskStatus(subtask.taskNo)">
           <div [ngSwitch]="subtask.taskStatusList[0].status">
              <ion-icon *ngSwitchCase="'Not Action'" name="ios-close-circle"  ></ion-icon>
              <ion-icon *ngSwitchCase="'Progressing'" name="ios-play"  ></ion-icon>
              <ion-icon *ngSwitchCase="'Done'" name="ios-checkmark-circle"  ></ion-icon>
              <ion-icon *ngSwitchDefault name="ios-help-circle"  ></ion-icon>
            </div>
        </button>
        <ion-select #subselect id="{{subtask.taskNo}}" class="subtask-status" [(ngModel)]="subtask.taskStatusList[0].status">
          <ion-option value="Not Action">
            Not Action
          </ion-option>
          <ion-option value="Progressing">
            Progressing
          </ion-option>
          <ion-option value="Done">
            Done
          </ion-option>
        </ion-select>
      </ion-col>
      <ion-col>
        <ion-grid class="subtask-grid">
          <ion-row>
            <ion-col>
              <ion-label>Task name</ion-label>
              <ion-input class="subtask-name" [(ngModel)]="subtask.name"></ion-input>
            </ion-col>
          </ion-row>
          <ion-row wrap>
            <ion-col>
              <ion-label>Start Date</ion-label>
              <ion-col name="md-calendar"></ion-col>
              <ion-datetime class="subtask-start-date" displayFormat="MM/DD/YYYY" [(ngModel)]="subtask.taskStatusList[0].startDate"></ion-datetime>
            </ion-col>
            <ion-col>
              <ion-label>Due Date</ion-label>
              <ion-col name="md-calendar"></ion-col>
              <ion-datetime class="subtask-due-date" displayFormat="MM/DD/YYYY" [(ngModel)]="subtask.taskStatusList[0].dueDate"></ion-datetime>
            </ion-col>
            <ion-col>
              <ion-label>Alert Date</ion-label>
              <ion-col name="md-calendar"></ion-col>
              <ion-datetime class="subtask-due-date" displayFormat="MM/DD/YYYY" [(ngModel)]="subtask.taskStatusList[0].alertDate"></ion-datetime>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-label>Description</ion-label>
              <ion-input class="subtask-description" [(ngModel)]="subtask.taskStatusList[0].description"></ion-input>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
      <ion-col col-2>
        <ion-fab>
          <button class="subtask-up-config" ion-fab><ion-icon name="md-settings" ></ion-icon></button>
          <ion-fab-list>
            <button class="subtask-up-button" ion-button (click)="removeRow(subtask)"><ion-icon name="ios-arrow-dropup-circle" ></ion-icon></button>
            <button class="subtask-down-button" ion-button (click)="removeRow(subtask)"><ion-icon name="ios-arrow-dropdown-circle" ></ion-icon></button>
            <button class="subtask-upload-button" ion-button (click)="removeRow(subtask)"><ion-icon name="md-cloud-upload" ></ion-icon></button>
            <button class="subtask-remove-button" ion-button (click)="removeRow(subtask)"><ion-icon name="md-remove" ></ion-icon></button>
          </ion-fab-list>
        </ion-fab>

      </ion-col>

    </ion-row>
    <ion-row><button ion-button (click)="addRow(task)"><ion-icon name="md-add"></ion-icon></button></ion-row>
    <ion-row>
      <ion-col>
        <ion-label>Description</ion-label>
        <ion-textarea class="detail-description" row="5" value="{{task.taskStatusList[0].description}}"></ion-textarea>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-label>Working comment
          <ion-icon name="md-attach"></ion-icon>
        </ion-label>
        <ion-input class="detail-comment"></ion-input><button ion-button><ion-icon name="ios-redo"></ion-icon></button>
      </ion-col>
    </ion-row>
    <div *ngFor="let comment of commentArray">
      <ion-row>
        <ion-col>
          <div>
            <font>{{comment.editor}}</font>
            <font *ngFor="let attachs of comment.attachs">
              <a href="{{attachs.url}}">{{attachs.title}}</a>
            </font>
          </div>
          <div>{{comment.comment_date}}</div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div>{{comment.comment}}</div>
        </ion-col>
      </ion-row>
    </div>
  </ion-grid>
</ion-content>