task-detail {

}
.priority-1{
    background:#F000FF;width:35px;
}
.priority-2{
    background:#FF4800;width:35px;
}
.priority-3{
    background:#FFA200;width:35px;
}
.priority-4{
    background:#B6E903;width:35px;
}
.priority-5{
    background:#01AB99;width:35px;
}
.priority-6{
    background:#00DEFF;width:35px;
}

.subtask-status{
    
}
.subtask-grid{
}
.detail-description{
    background:#E1E1E1;
}
.detail-comment{
    background:#E1E1E1;
}
.subtask-name,.subtask-start-date,.subtask-due-date,.subtask-description{
    border-bottom:solid 1px gray;
}
.subtask-remove-button{

}

.short_name{
    color : white;
    font-size:1.5em;
    text-align: center;
    text-shadow: 1px;
    background:#4789FC;
    padding-top:10%;
    width:40px;
    height:40px;
}