quotation-editor{
    .quotation-table{
        width: 100%;
        th,td{
            border: solid 1px black;
        }
    }
    .keysight-price-table{
         width: 100%;
        th,td{
            border: solid 1px black;
        }
    }
}
