<ion-header>
  <ion-navbar [hideBackButton]="true">
    <button ion-button (click)="pop()">
        <ion-icon name="ios-arrow-back"></ion-icon>
    </button>
    <ion-title class="project-name-input" [ngClass]="'priority-'+project.statusList[0].priority" (click)="editProjectNameAndPriority()">
      {{project.statusList[0].projectName }}
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col col-2>
        <ion-label>Customer</ion-label>
      </ion-col>
      <ion-col col-6>
        <ion-label>{{targetCustomer.name}}</ion-label>
      </ion-col>
      <ion-col col-4>
        <button ion-button (click)="findCustomer(targetCustomer)"><ion-icon name="md-search" ></ion-icon></button>
      </ion-col>
    </ion-row>
    <ion-row warp>
      <ion-col col-2>
        <ion-label>Owner</ion-label>
      </ion-col>
      <ion-col *ngFor="let owner of project.ownerList">
        <ion-label class="owner-label">
          <div *ngIf="getUser(owner.uid) != null &&
                getUser(owner.uid).employeesInfo.image != '';else elseblock">
            <img [attr.src]="'data:image/gif;base64,'+getUser(owner.uid).employeesInfo.image" style="width: 40px; height: 40px;">
          </div>
          <ng-template #elseblock>
            <div class="short-name-div">
              <div class="short-name">{{this.loginProvider.getShortName(this.companyUsers.get(owner.uid).employeesInfo.lastName)}}</div>
            </div>
          </ng-template>
          <div class="full-name">{{this.companyUsers.get(owner.uid).employeesInfo.lastName}}</div>
        </ion-label>
      </ion-col>
      <ion-col><button ion-button title="Add owner" (click)="selectProjectUsers(project)"><ion-icon name="md-person-add"></ion-icon></button></ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-2>
        <ion-label>Upload files</ion-label>
      </ion-col>
      <ion-col><button ion-button title="Upload" (click)="selectProjectUsers(project)"><ion-icon name="md-cloud-upload"></ion-icon></button></ion-col>
    </ion-row>
    <ion-row warp>
      <ion-col>
        <ion-label>Start date</ion-label>
        <ion-datetime displayFormat="YYYY/MM/DD" pickerFormat="YYYY-MMM-DD" doneText="Select Start date" [(ngModel)]="project.statusList[0].startDate"></ion-datetime>
      </ion-col>

      <ion-col>
        <ion-label>Due date</ion-label>
        <ion-datetime displayFormat="YYYY/MM/DD" pickerFormat="YYYY-MMM-DD" doneText="Select Due date" [(ngModel)]="project.statusList[0].dueDate"></ion-datetime>
      </ion-col>
      <ion-col>
        <ion-label>Alert date</ion-label>
        <ion-datetime displayFormat="YYYY/MM/DD" pickerFormat="YYYY-MMM-DD" doneText="Select Alert date" [(ngModel)]="project.statusList[0].alertDate"></ion-datetime>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-label>Description</ion-label>
        <ion-textarea class="detail-description" row="5" [(ngModel)]="project.statusList[0].description"></ion-textarea>
      </ion-col>
    </ion-row>
    <ion-row>
      <button class="add-task-bt" ion-button (click)="addRow(task)"><ion-icon name="md-add"></ion-icon></button>
    </ion-row>
    <ion-row>
      <ion-label>Task</ion-label>
    </ion-row>
    <div *ngFor="let subtask of this.project.taskList">
      <ion-row *ngIf="subtask.taskStatusList[0].status != 'DELETE'">
        <ion-grid>
          <ion-row>
            <ion-label class="subtask-name priority-{{subtask.taskStatusList[0].priority}}" (click)="editTaskNameAndPriority(subtask)">{{subtask.name}}</ion-label>
          </ion-row>
          <ion-row style="border:solid 1px black">
              <ion-col col-1 class="subtask-col">
                <button ion-button (click)="selectTaskStatus(subtask.taskNo)">
                  <div [ngSwitch]="subtask.taskStatusList[0].status">
                    <ion-icon *ngSwitchCase="'Not Action'" name="ios-close-circle"  ></ion-icon>
                    <ion-icon *ngSwitchCase="'Progressing'" name="ios-play"  ></ion-icon>
                    <ion-icon *ngSwitchCase="'Done'" name="ios-checkmark-circle"  ></ion-icon>
                    <ion-icon *ngSwitchDefault name="ios-help-circle"  ></ion-icon>
                  </div>
              </button>
                  <ion-select #subselect id="{{subtask.taskNo}}" class="subtask-status" [(ngModel)]="subtask.taskStatusList[0].status" hidden>
                    <ion-option value="Not Action">
                      Not Action
                    </ion-option>
                    <ion-option value="Progressing">
                      Progressing
                    </ion-option>
                    <ion-option value="Done">
                      Done
                    </ion-option>
                  </ion-select>
                <div>
                  <ion-fab>
                    <button class="subtask-up-config" ion-fab mini><ion-icon name="md-settings" ></ion-icon></button>
                    <ion-fab-list>
                      <button class="subtask-up-button" ion-button (click)="upTaskIndex(subtask)"><ion-icon name="ios-arrow-dropup-circle" ></ion-icon></button>
                      <button class="subtask-down-button" ion-button (click)="downTaskIndex(subtask)"><ion-icon name="ios-arrow-dropdown-circle" ></ion-icon></button>
                      <button class="subtask-upload-button" ion-button (click)="upload(subtask)"><ion-icon name="md-cloud-upload" ></ion-icon></button>
                      <button class="add-task-bt" ion-button (click)="addRow(task)"><ion-icon name="md-add"></ion-icon></button>
                      <button class="subtask-remove-button" ion-button (click)="removeRow(subtask)"><ion-icon name="md-remove" ></ion-icon></button>
                    </ion-fab-list>
                  </ion-fab>
                </div>
              </ion-col>
              <ion-col>
                <ion-grid class="subtask-grid">
                  <ion-row warp>
                    <ion-col><ion-label>Owner</ion-label></ion-col>
                    <ion-col *ngFor="let subowner of subtask.taskOwnerList">
                      <ion-label>
                        <div *ngIf="getUser(subowner.uid) != null &&  getUser(subowner.uid).employeesInfo.image != '';else elseblock">
                          <img [attr.src]="'data:image/gif;base64,'+getUser(subowner.uid).employeesInfo.image" style="width: 40px; height: 40px;">
                        </div>
                        <ng-template #elseblock>
                          <div class="short-name-div">
                            <div class="short-name">{{this.loginProvider.getShortName(getUser(subowner.uid).employeesInfo.lastName)}}</div>
                          </div>
                        </ng-template>
                        <div class="full-name">{{this.companyUsers.get(subowner.uid).employeesInfo.lastName}}</div>
                      </ion-label>
                    </ion-col>
                    <ion-col><button ion-button title="Add owner" (click)="selectTaskUsers(subtask)"><ion-icon name="md-person-add"></ion-icon></button></ion-col>
                  </ion-row>

                  <ion-row wrap>
                    <ion-col>
                      <ion-label>Start Date</ion-label>
                      <ion-col name="md-calendar"></ion-col>
                      <ion-datetime class="subtask-start-date" displayFormat="YYYY/MM/DD" min="2010" max="2099" [(ngModel)]="subtask.taskStatusList[0].startDate"></ion-datetime>
                    </ion-col>
                    <ion-col>
                      <ion-label>Due Date</ion-label>
                      <ion-col name="md-calendar"></ion-col>
                      <ion-datetime class="subtask-due-date" displayFormat="YYYY/MM/DD" min="2010" max="2099" [(ngModel)]="subtask.taskStatusList[0].dueDate"></ion-datetime>
                    </ion-col>
                    <ion-col>
                      <ion-label>Alert Date</ion-label>
                      <ion-col name="md-calendar"></ion-col>
                      <ion-datetime class="subtask-due-date" displayFormat="YYYY/MM/DD" min="2010" max="2099" [(ngModel)]="subtask.taskStatusList[0].alertDate"></ion-datetime>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col>
                      <ion-label>Description</ion-label>
                      <ion-input class="subtask-description" [(ngModel)]="subtask.taskStatusList[0].description"></ion-input>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col>
                      <ion-label>Comment</ion-label>
                      <textarea class="subtask-comment" [(ngModel)]="subtask.tempComment.comment"></textarea>
                      <div class="subtask-comment-bt">
                        <button ion-button (click)="uploadComment(subtask.tempComment)"><ion-icon name="md-cloud-upload"></ion-icon></button>
                        <button ion-button (click)="commitComment(subtask)"><ion-icon name="ios-redo"></ion-icon></button>
                      </div>
                    </ion-col>
                  </ion-row>
                  <ion-row *ngFor="let subComment of subtask.taskCommentList">
                    <ion-col>
                      <div>{{subComment.comment}}</div>
                      <div>{{subComment.commentDate}}</div>
                      <div>{{ getUser(subComment.uid).employeesInfo.lastName}}</div>
                      <div *ngIf="subComment.attachUid != '' && subComment.attachUid != null">
                        <div>Test!</div>
                      </div>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-col>
          </ion-row>
        </ion-grid>
      </ion-row>
    </div>
  </ion-grid>
</ion-content>