$menu-width:200px;


.index-title{
    background:#DADE0D;
}
.index-content{
    background:#488aff;
}
.index-content-button{
    background:transparent;
}
.index-content-button-text{
    padding-left: 5px;
}