$menu-width:200px;


.index-title{
    background:#DADE0D;
}
.index-content{
    background:#4866cc;
}
.index-content-button{
    background:transparent;
}
.index-content-button-icon{
    color:white;
}
.index-content-button-text{
    padding-left: 5px;
    color:white;
}