
ion-fab{
    right:0;
}

.planner-col{
    min-width : 280px;
}

.planner-project-table{
    width:100%;

    .planner-project-title{
        border: solid 1px #000000;
        background:lightgreen;
    }
}


.planner-task-table{
    border:solid 1px #003333;
    width:100%;
}
.planner-task-table-title{
    
}
.planner-task-content{
    padding-left: 30%;
}
.planner-task-owner{
    text-align:center;
}