
ion-fab{
    right:0;
}
.planner-content{
    background:#EFEFEF;
}

.planner-col{
    min-width : 280px;
}

.planner-project-table{
    width:100%;

    .planner-project-title{
        border: solid 1px #000000;
        background:lightgreen;
    }
}


.planner-task-table{
    background:#FFFFFF;
    border:solid 1px #003333;
    width:100%;
}
.planner-task-table-title{
    
}
.planner-task-content{
    padding-left: 30%;
    font-size:1.25em;
}

.planner-task-status{
    text-align: center;
    font-size:1.25em;
}

.planner-task-owner{
    border: solid 1px #000033;
    text-align: center;
}