<ion-header>
  <ion-navbar [hideBackButton]="true">

    <ion-title><input class="task-name-input" type="text" [(ngModel)]="task.name" [value]="task.name"
      /></ion-title>
    <div>
      <button ion-button (click)="pop()">
        <ion-icon name="ios-arrow-back"></ion-icon>
      </button>
      <button ion-button icon-only class="priority-1" (click)="changePriority('1')">
        <div *ngIf="task.taskStatusList[0].priority == '1';else else1">
          <ion-icon name="ios-checkmark" ></ion-icon>
        </div>
        <ng-template #else1>
          <ion-icon name="" ></ion-icon>
        </ng-template>
      </button>
      <button ion-button icon-only class="priority-2" (click)="changePriority('2')">
         <div *ngIf="task.taskStatusList[0].priority  == '2';else else2">
          <ion-icon name="ios-checkmark" ></ion-icon>
        </div>
        <ng-template #else2>
         <ion-icon name="" ></ion-icon>
        </ng-template>
      </button>
      <button ion-button icon-only class="priority-3" (click)="changePriority('3')">
        <div *ngIf="task.taskStatusList[0].priority  == '3';else else3">
          <ion-icon name="ios-checkmark" ></ion-icon>
        </div>
        <ng-template #else3>
          <ion-icon name="" ></ion-icon>
        </ng-template>
      </button>
      <button ion-button icon-only class="priority-4" (click)="changePriority('4')">
        <div *ngIf="task.taskStatusList[0].priority  == '4';else else4">
          <ion-icon name="ios-checkmark" ></ion-icon>
        </div>
        <ng-template #else4>
          <ion-icon name="" ></ion-icon>
        </ng-template>
      </button>
      <button ion-button icon-only class="priority-5" (click)="changePriority('5')">
        <div *ngIf="task.taskStatusList[0].priority  == '5';else else5">
          <ion-icon name="ios-checkmark" ></ion-icon>
        </div>
        <ng-template #else5>
          <ion-icon name="" ></ion-icon>
        </ng-template>
      </button>
      <button ion-button icon-only class="priority-6" (click)="changePriority('6')">
        <div *ngIf="task.taskStatusList[0].priority  == '6';else else6">
          <ion-icon name="ios-checkmark" ></ion-icon>
        </div>
        <ng-template #else6>
          <ion-icon name="" ></ion-icon>
        </ng-template>
      </button>
    </div>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row warp>
      <div *ngFor="let owner of task.taskOwnerList">
        <ion-col>
          <ion-label class="owner-label">
            <div *ngIf="getUser(owner.uid) != null &&
                getUser(owner.uid).employeesInfo.image != '';else elseblock">
              <img [attr.src]="'data:image/gif;base64,'+getUser(owner.uid).employeesInfo.image" style="width: 40px; height: 40px;">
            </div>
            <ng-template #elseblock>
              <div class="short-name-div">
                <div class="short-name">{{this.loginProvider.getShortName(this.companyUsers.get(owner.uid).employeesInfo.lastName)}}</div>
              </div>
            </ng-template>
            <div class="full-name">{{this.companyUsers.get(owner.uid).employeesInfo.lastName}}</div>
          </ion-label>
        </ion-col>
      </div>
      <ion-col><button ion-button title="Add owner" (click)="selectUsers(task)"><ion-icon name="md-person-add"></ion-icon></button></ion-col>
    </ion-row>
    <ion-row>
      <ion-col><button ion-button title="Upload" (click)="selectUsers(task)"><ion-icon name="md-cloud-upload"></ion-icon></button></ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-label>Task status</ion-label>
        <ion-select [(ngModel)]="task.taskStatusList[0].status">
          <ion-option value="Not Action">
            Not Action
          </ion-option>
          <ion-option value="Progressing">
            Progressing
          </ion-option>
          <ion-option value="Done">
            Done
          </ion-option>
        </ion-select>
      </ion-col>
    </ion-row>
    <ion-row warp>
      <ion-col>
        <ion-label>Start date</ion-label>
        <ion-datetime displayFormat="YYYY/MM/DD" pickerFormat="YYYY-MMM-DD" doneText="Select Start date" [(ngModel)]="task.taskStatusList[0].startDate"></ion-datetime>
      </ion-col>

      <ion-col>
        <ion-label>Due date</ion-label>
        <ion-datetime displayFormat="YYYY/MM/DD" pickerFormat="YYYY-MMM-DD" doneText="Select Due date" [(ngModel)]="task.taskStatusList[0].dueDate"></ion-datetime>
      </ion-col>
      <ion-col>
        <ion-label>Alert date</ion-label>
        <ion-datetime displayFormat="YYYY/MM/DD" pickerFormat="YYYY-MMM-DD" doneText="Select Alert date" [(ngModel)]="task.taskStatusList[0].alertDate"></ion-datetime>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-label>Description</ion-label>
        <ion-textarea class="detail-description" row="5" [(ngModel)]="task.taskStatusList[0].description"></ion-textarea>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-label>Comment</ion-label>
        <ion-input class="task-comment" [(ngModel)]="task.tempComment.comment"></ion-input>
      </ion-col>
      <ion-col col-1>
        <button ion-button (click)="uploadComment(task.tempComment)"><ion-icon name="md-cloud-upload"></ion-icon></button>
        <button ion-button (click)="commitComment(task)"><ion-icon name="ios-redo"></ion-icon></button>
      </ion-col>
    </ion-row>
    <ion-row *ngFor="let comment of task.taskCommentList">
      <ion-col>
        <div>{{comment.comment}}</div>
        <div>{{comment.commentDate}}</div>
        <div>{{ getUser(comment.uid).employeesInfo.lastName}}</div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-label>Sub Task</ion-label>
    </ion-row>
    <div *ngFor="let subtask of task.subTaskList">
      <task-normal *ngIf="subtask.taskStatusList[0].status != 'DELETE' && subtask.type=='NORMAL_TASK'" [parentTask]='task' [subTask]='subtask'></task-normal>
      <task-quotation *ngIf="subtask.taskStatusList[0].status != 'DELETE' && subtask.type=='QUOTATION_TASK'" [parentTask]='task' [subTask]='subtask'></task-quotation>
    </div>
    <ion-row>
      <ion-fab>
        <button ion-fab mini><ion-icon name="md-add"></ion-icon></button>            
        <ion-fab-list>
          <button ion-fab (click)="addNormalTask(task)"><ion-icon name="md-add"></ion-icon></button>    
          <button ion-fab (click)="addQuotationTask(task)"><ion-icon name="md-calculator"></ion-icon></button>    
        </ion-fab-list>
      </ion-fab>
      
    </ion-row>

  </ion-grid>
</ion-content>