.gantt-grid{
    position: relative;
    width:100%;
    height:600px;
    border:solid 1px black;
    overflow: auto;
    
    .gantt-header-grid{
        position: absolute;
        width:20%;
        border:solid 1px black;
        
        .header-title{
           display: flex;
           width:100%;
        }
        .header-row{
            display: flex;
            height:20px;
            border:solid 1px black;
        }
        
    }
    .scroll{
        position: fixed;
    }
    .gantt-date-grid{
        position: absolute;
        padding-left: 20%;
        border:solid 1px black;
        .date-row{
            display: flex;
            height:20px;
            
            .date-name{
                width:150px;
                height:20px;
                border: solid 1px black;
            }
        }
    }
}