<!--
  Generated template for the PlannerPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="md-apps"></ion-icon>
    </button>
    <ion-title>Planner</ion-title>
    <ion-toolbar>
      <ion-segment [(ngModel)]="plannerContent">
        <ion-segment-button value="my-plans">
          My Plans
        </ion-segment-button>
        <ion-segment-button value="management">
          Management
        </ion-segment-button>
      </ion-segment>
    </ion-toolbar>
  </ion-navbar>
</ion-header>

<ion-content class="planner-content" padding>
  <div [ngSwitch]="plannerContent">
    <ion-grid *ngSwitchCase="'my-plans'">
      <ion-row >
        <ion-col class="planner-col" *ngFor="let project of projects">
          <table class="planner-project-table">
            <tr  [ngSwitch]="project.statusList[0].priority">
                <th  *ngSwitchCase="'1'" class="planner-project-title-1" [attr.title]="project.statusList[0].description">{{project.statusList[0].projectName}}</th>
                <th  *ngSwitchCase="'2'" class="planner-project-title-2" [attr.title]="project.statusList[0].description">{{project.statusList[0].projectName}}</th>
                <th  *ngSwitchCase="'3'" class="planner-project-title-3" [attr.title]="project.statusList[0].description">{{project.statusList[0].projectName}}</th>
                <th  *ngSwitchCase="'4'" class="planner-project-title-4" [attr.title]="project.statusList[0].description">{{project.statusList[0].projectName}}</th>
                <th  *ngSwitchCase="'5'" class="planner-project-title-5" [attr.title]="project.statusList[0].description">{{project.statusList[0].projectName}}</th>
                <th  *ngSwitchCase="'6'" class="planner-project-title-6" [attr.title]="project.statusList[0].description">{{project.statusList[0].projectName}}</th>
            </tr>
            <tr>
              <td>
                <table class="planner-task-table" *ngFor="let task of project.taskList" (click)="openDetail(task)">
                  <tr [ngSwitch]="task.taskStatusList[0].priority">
                    <th  *ngSwitchCase="'1'" class="planner-task-table-title-1">
                      <font>{{task.name}}</font>
                      <button><ion-icon name="ios-code-working"></ion-icon></button>
                    </th>
                    <th  *ngSwitchCase="'2'" class="planner-task-table-title-2">
                      <font>{{task.name}}</font>
                      <button><ion-icon name="ios-code-working"></ion-icon></button>
                    </th>
                    <th  *ngSwitchCase="'3'" class="planner-task-table-title-3">
                      <font>{{task.name}}</font>
                      <button><ion-icon name="ios-code-working"></ion-icon></button>
                    </th>
                    <th  *ngSwitchCase="'4'" class="planner-task-table-title-4">
                      <font>{{task.name}}</font>
                      <button><ion-icon name="ios-code-working"></ion-icon></button>
                    </th>
                    <th  *ngSwitchCase="'5'" class="planner-task-table-title-5">
                      <font>{{task.name}}</font>
                      <button><ion-icon name="ios-code-working"></ion-icon></button>
                    </th>
                    <th  *ngSwitchCase="'6'" class="planner-task-table-title-6">
                      <font>{{task.name}}</font>
                      <button><ion-icon name="ios-code-working"></ion-icon></button>
                    </th>
                  </tr>
                  <tr *ngFor="let subtask of task.subTaskList">
                    <td class="planner-task-content" >
                       <div [ngSwitch]="subtask.taskStatusList[0].status">
                        <ion-icon *ngSwitchCase="'Not Action'" name="ios-close-circle"  ></ion-icon>
                        <ion-icon *ngSwitchCase="'Progressing'" name="ios-play"  ></ion-icon>
                        <ion-icon *ngSwitchCase="'Done'" name="ios-checkmark-circle"  ></ion-icon>
                        <ion-icon *ngSwitchDefault name="ios-help-circle"  ></ion-icon>
                         {{subtask.name}}
                      </div>
                     
                    </td>
                  </tr>
                  <tr class="planner-task-status-summary">
                    <td >
                      <div class="planner-task-status" [ngSwitch]="task.taskStatusList[0].status">
                        <ion-icon *ngSwitchCase="'Not Action'" name="ios-close-circle"  ></ion-icon>
                        <ion-icon *ngSwitchCase="'Progressing'" name="ios-play"  ></ion-icon>
                        <ion-icon *ngSwitchCase="'Done'" name="ios-checkmark-circle"  ></ion-icon>
                        <ion-icon *ngSwitchDefault name="ios-help-circle"  ></ion-icon>
                      </div>
                      
                      <div class="planner-task-progress"><font>{{this.setProgess(task)}}</font></div>
                      <div class="planner-task-due-date"><font>{{task.taskStatusList[0].startDate | date: 'yyyy-MM-dd'}}</font></div>
                    </td>
                  </tr>
                  <tr>
                    <td class="planner-task-owner">
                      <div *ngFor="let own of task.taskOwnerList">
                        {{this.companyUserMap.get(own.uid).employeesInfo.lastName}}
                      </div>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </ion-col>
      </ion-row>
    </ion-grid>
    <!--<ion-grid *ngSwitchCase="'management'">
     <ion-row >
        <ion-col class="planner-col" *ngFor="let project of manageProjects">
          <table class="planner-project-table">
            <tr  [ngSwitch]="project.priority">
                <th  *ngSwitchCase="'1'" class="planner-project-title-1">{{project.title}}</th>
                <th  *ngSwitchCase="'2'" class="planner-project-title-2">{{project.title}}</th>
                <th  *ngSwitchCase="'3'" class="planner-project-title-3">{{project.title}}</th>
                <th  *ngSwitchCase="'4'" class="planner-project-title-4">{{project.title}}</th>
                <th  *ngSwitchCase="'5'" class="planner-project-title-5">{{project.title}}</th>
                <th  *ngSwitchCase="'6'" class="planner-project-title-6">{{project.title}}</th>
            </tr>
            <tr>
              <td>
                <table class="planner-task-table" *ngFor="let task of project.taskArray" (click)="openManageTaskDetail(task.id,task.title)">
                  <tr [ngSwitch]="task.priority">
                    <th  *ngSwitchCase="'1'" class="planner-task-table-title-1">
                      <font>{{task.title}}</font>
                      <button><ion-icon name="ios-code-working"></ion-icon></button>
                    </th>
                    <th  *ngSwitchCase="'2'" class="planner-task-table-title-2">
                      <font>{{task.title}}</font>
                      <button><ion-icon name="ios-code-working"></ion-icon></button>
                    </th>
                    <th  *ngSwitchCase="'3'" class="planner-task-table-title-3">
                      <font>{{task.title}}</font>
                      <button><ion-icon name="ios-code-working"></ion-icon></button>
                    </th>
                    <th  *ngSwitchCase="'4'" class="planner-task-table-title-4">
                      <font>{{task.title}}</font>
                      <button><ion-icon name="ios-code-working"></ion-icon></button>
                    </th>
                    <th  *ngSwitchCase="'5'" class="planner-task-table-title-5">
                      <font>{{task.title}}</font>
                      <button><ion-icon name="ios-code-working"></ion-icon></button>
                    </th>
                    <th  *ngSwitchCase="'6'" class="planner-task-table-title-6">
                      <font>{{task.title}}</font>
                      <button><ion-icon name="ios-code-working"></ion-icon></button>
                    </th>
                  </tr>
                  <tr *ngFor="let item of task.itemArray">
                    <td class="planner-task-content" >
                       <ion-checkbox [(ngModel)]="item.checked" disabled="true"></ion-checkbox>{{item.itemTitle}}
                    </td>
                  </tr>
                  <tr>
                    <td class="planner-task-status">
                      <ion-icon name="ios-play"></ion-icon>
                      <font class="planner-task-progress">{{task.getPersentString()}}</font>
                      <font class="planner-task-due-date">{{task.endDate.toISOString()}}</font>
                    </td>
                  </tr>
                  <tr>
                    <td class="planner-task-owner">
                      <div *ngFor="let own of task.owner">
                        {{own}}
                      </div>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </ion-col>
      </ion-row>
    </ion-grid>-->
  </div>

</ion-content>