.gantt-col-header-grid{
    position: relative;
    width:100%;
    height:120px;
    border:solid 1px black;
    display: flex;
    .header-col{
        position: absolute;
        display:flex;
        width:20%;
        height: 100%;
        border:solid 1px black;
    }
    .date-col{
        position:absolute;
        left: 20%;
        width:80%;
        height:100%;
        border:solid 1px black;
        overflow: hidden;
        .top-col{
            display: flex;
            border:solid 1px black;
           height:30px;
           .year{
               border: solid 1px black;
               text-align: center;
           }
        }
        .middle-col{
            display: flex;
            border:solid 1px black;
            height:30px;
            .month{
                border:solid 1px black;
                text-align: center;
            }
        }
        .bottom-col{
            display: flex;
            border:solid 1px black;
            height:30px;
            .week{
                border:solid 1px black;
                text-align: center;
            }
        }
        .day-col{
            display: flex;
            border:solid 1px black;
            height:30px;
            .week{
                border:solid 1px black;
                text-align: center;
            }
        }
    }
}

.gantt-grid{
    position: relative;
    width:100%;
    height:600px;
    white-space: nowrap;
    overflow: hidden;
    border:solid 1px black;
    
    .gantt-header-grid{
        position: absolute;
        width:20%;
        height: 560px;
        border:solid 1px black;
        overflow : hidden;
        .header-row{
            height:20px;
            border:solid 1px black;
        }
        .row-cell{
            display: flex;
        }
    }
     .gantt-date-grid{
        position: absolute;
        left: 20%;
        border:solid 1px black;
        width:80%;
        height: 560px;
        overflow:hidden;
        .date-row{
            display: flex;
            height:20px;
            .date-cell{
                display:flex;
            }
            .date-name{
                width:120px;
                height:20px;
                border: solid 1px black;
            }
        }
    }
   .scroll-vertical{
        position: absolute;
        right: 0;
        overflow-y:scroll;
        height:100%;
        .vertical-div{
            display:block;
            width:18px;
        }
   }
   .scroll-horizontal{
        position: absolute;
        bottom:0;
        overflow-x: scroll;
        width:100%;
        .horizontal-div{
            display:block;
            height: 18px;
        }
   }
}