<div #gantt_here style='width: 100%; height: 100%;'></div>





<div class="gantt-grid" #ganttgrid>
    <div class="gantt-header-grid"  #ganttheadergrid>

        <div class="header-row" *ngFor="let row of rowDetailList">
            <div class="header-name"><ion-icon name="ios-arrow-forward"></ion-icon>{{row.name}}</div>
            <div class="header-owner">{{row.name}}</div>
        </div>
    </div>

    <div mouseWheel  class="gantt-date-grid" #ganttdategrid (mouseWheelUp)="mouseWheelOnGanttdategrid($event)" (mouseWheelDown)="mouseWheelOnGanttdategrid($event)">

       <div class="date-row" [style.width]="(this.rowDetailList.length)* 120+'px'" *ngFor="let row of rowDetailList">
            <div class="date-name" *ngFor="let d of dataTime"></div>
        </div>
    </div>
    <div #verticalScroll class="scroll-vertical"  (scroll)="onScrollVertical($event)">
        <div  class="vertical-div" [style.height]="(this.rowDetailList.length)* 20+'px'"></div>
    </div>
    <div #horizontalScroll class="scroll-horizontal"  (scroll)="onScrollHorizontal($event)">
        <div class="horizontal-div" [style.width]="(this.dataTime.length)* 30+'px'"></div>
    </div>
</div>