.gantt-col-header-grid{
    position: relative;
    width:100%;
    height:90px;
    border:solid 1px black;
    display: flex;
    .header-col{
        position: absolute;
        background:#DADE0D;
        display:flex;
        width:20%;
        height: 100%;
    }
    .date-col{
        position:absolute;
        background: #4866CC;
        color:white;
        left: 20%;
        width:80%;
        height:100%;
        overflow: hidden;
        .top-col{
           display: flex;
           height:30px;
           .year{
               border-left: solid 1px lightgray;
               border-bottom:solid 1px lightgray;
               text-align: center;
           }
        }
        .middle-col{
            display: flex;
            height:30px;
            .month{
                border-left: solid 1px lightgray;
                text-align: center;
            }
        }
        .bottom-col{
            display: flex;
            height:30px;
            .week{
                border-left: solid 1px lightgray;
                text-align: center;
            }
        }
        .day-col{
            display: flex;
            height:30px;
            .day{
                border-left: solid 1px lightgray;
                text-align: center;
                padding-top:3px;
            }
        }
    }
}

.gantt-grid{
    position: relative;
    width:100%;
    height:600px;
    white-space: nowrap;
    overflow: hidden;
    border:solid 1px black;
    
    .gantt-header-grid{
        font-size:1.25em;
        position: absolute;
        width:20%;
        height: 560px;
        overflow : hidden;
        background: #4866CC;
        color:white;
        .header-row{
            height:40px;
            border-bottom: solid 1px lightgray;
            ion-icon{
                padding-right: 10px;
            }
            .cell-project{

            }
            .cell-task{
                padding-left:20px;
                button{
                    width:80px;
                    height:30px;
                }
            }
            .cell-subtask{
                padding-left:40px;
            }
        }
        .row-cell{
            display: flex;
        }
    }
     .gantt-date-grid{
        position: absolute;
        left: 20%;
        border:solid 1px black;
        width:80%;
        height: 560px;
        overflow:hidden;
        .date-row{
            display: flex;
            height:40px;
            border-bottom: solid 1px black;
            background:lightgray;
            .date-cell{
                display:flex;
            }
            .date-name{
                width:120px;
                height:40px;
                border: solid 1px black;
            }
        }
    }
   .scroll-vertical{
        position: absolute;
        right: 0;
        overflow-y:scroll;
        height:100%;
        .vertical-div{
            display:block;
            width:18px;
        }
   }
   .scroll-horizontal{
        position: absolute;
        bottom:0;
        overflow-x: scroll;
        width:100%;
        .horizontal-div{
            display:block;
            height: 18px;
        }
   }
}