page-organize {
    .organize-tree{
        padding-top: 20px; position: relative;
        transition: all 0.5s;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        .organize-depart-col{
            justify-content:center;
            display:flex;
            padding-top: 50px;
            table{
                text-align: center;
                td:hover{
                    cursor: pointer;
                    background: lightblue;
                }
            }
        }

        .department::before,  .department::after{
            content: '';
            position: absolute; top: 0; right: 50%;
            border-top: 1px solid #ccc;
            width: 50%; height: 20px;
        }
        .department::after{
            right: auto; left: 50%;
            border-left: 1px solid #ccc;
        }

        .department-first-child::before, .department-last-child::after{
            border: 0 none;
        }
        /*Adding back the vertical connector to the last nodes*/
       .department:last-child::before{
            border-right: 1px solid #ccc;
            border-radius: 0 5px 0 0;
            -webkit-border-radius: 0 5px 0 0;
            -moz-border-radius: 0 5px 0 0;
        }
        .department:first-child::after{
            border-radius: 5px 0 0 0;
            -webkit-border-radius: 5px 0 0 0;
            -moz-border-radius: 5px 0 0 0;
        }
        
        table{
            th{
                border:solid 2px black;
            }
            width:100%;
            border:solid 1px black;
        }
    }
    .no-role-employee:hover{
        cursor: pointer;
        background: lightblue;
    }

}


